
html,body {
    background-color: #313131;
    color: var(--blanco);
}

.titulo__nosotros {
    font-size: 5rem;
    margin: 3rem 0;
    text-transform: uppercase;
}
.member_section{
    border-radius: 20px;
    background-color: #3A3B3C;
    margin-bottom: 2%;
    display: flex;           
    justify-content: space-between; 

    width: 80rem;
}
.content_texto{
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 3rem;
    
}
.footer{
    background-color:#3A3B3C ;
    padding: 10px 0;
    margin: 0; 
}
.footer_texto{
    margin: 5px;
}
.content_img{
    align-items: right;
    margin: 10px;
}
.imagen_modificada{
    border-radius: 8px;
    width: 250px;
    height: auto;
}
.enlace_blanco{
    color:aliceblue;
}
.enlace_blanco:hover {
    color: lightgray; 
  }