:root {
    /* Colores */
    --azulOscuro: #023047;
    --azul: #219ebc;
    --celeste: #8ecae6;
    --dorado: #ffb703;
    --rojo: #800020;
    --rojoClaro: #af3d59;
    --blanco: #FEFCFB;
    --negro: #000;
}